<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
	</configSections>
	<connectionStrings>
		<add name="DefaultConnection" connectionString="Data Source=.;Initial Catalog=HesabDb;Integrated Security=True;Trusted_Connection=True;Encrypt=False" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>